
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');



$gradient: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
$whiteColor: white;
$navbarHeight: 3rem;
$width100: 100%;
$joseFont: 'Josefin Sans', sans-serif !important;

body {
    font-family: $joseFont;
}